<!DOCTYPE html>

<head>
    <title>Добавление тура</title>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/images/js.js}" src="/static/js/openModal.js"></script>
    <script type="text/javascript" th:src="@{/js/tourDetails.js}" src="/static/js/tourDetails.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    <link rel="icon" th:href="@{/images/favicon.ico}"/>

</head>
<body>
<div th:replace="fragments::navibar">Navigation menu</div>
<div class="w3-clear prev d-inline float-sm-left ml-3">
    <a class="btn btn-outline-primary" href="/admin" role="button"><-Назад</a>
</div>
<div class="container mb-4">
    <div align="center">Добавление тура</div>
    <form action="#" th:action="@{/admin/save}" th:object="${tour}" method="post" class="form-horizontal" enctype="multipart/form-data">


        <div class="form-group row">
            <div class="col-sm-11">
                <label class="col-form-label">Заголовок:</label>

                <input type="text" class="form-control" th:field="*{title}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-form-label">Картинка:</label>
            <input type="file" id="fileImage" name="fileImage" accept="image/png, image/jpeg"
                   class="form-control-file"/>
        </div>
        <div>
            <p>
                <img id="thumbnail" alt="Предпросмотр" width="500" height="250"/>
            </p>
        </div>

        <div class="form-group row">
            <div class="col-sm-11">
                <label class="col-form-label">Описание:</label>

                <textarea rows="5" class="form-control" th:field="*{description}"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-11">
                <label class="col-form-label">Начало:</label>

                <input type="text" class="form-control" th:field="*{startTime}"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-11">
                <label class="col-form-label">Конец:</label>

                <input type="text" class="form-control" th:field="*{endTime}"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-11">
                <label class="col-form-label">Цена:</label>

                <input type="text" class="form-control" th:field="*{price}"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-11">
                <label class="col-form-label">Описание первого дня:</label>

                <textarea rows="5" class="form-control" th:field="*{firstDayDescription}"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-11">
                <label class="col-form-label">Описание второго дня:</label>

                <textarea rows="5" class="form-control" th:field="*{secondDayDescription}"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-11">
                <label class="col-form-label">Описание третьего дня:</label>

                <textarea rows="5" class="form-control" th:field="*{thirdDayDescription}"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-11">
                <label class="col-form-label">Описание четвертого дня:</label>

                <textarea rows="5" class="form-control" th:field="*{fourthDayDescription}"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-11">
                <label class="col-form-label">Описание пятого дня:</label>

                <textarea rows="5" class="form-control" th:field="*{fifthDayDescription}"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-11">
                <label class="col-form-label">Включено в стоимость:</label>

                <textarea rows="4" class="form-control" th:field="*{includeInPrice}"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-11">
                <label class="col-form-label">Дополнительно оплачивается:</label>

                <textarea rows="4" class="form-control" th:field="*{additionally}"/>
            </div>
        </div>


        <a type="button" class="btn btn-secondary" th:href="@{/admin}">Отмена</a>
        <input type="reset" class="btn btn-primary" value="Очистить"/>
        <input type="submit" class="btn btn-primary" value="Сохранить"/>


    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#fileImage').change(function () {
            showImageTumbnail(this);

        });
    });

    function showImageTumbnail(fileInput) {
        file = fileInput.files[0];
        reader = new FileReader();

        reader.onload = function (e) {
            $('#thumbnail').attr('src', e.target.result);

        };
        reader.readAsDataURL(file);

    }


</script>
</body>
</html>