<!DOCTYPE html>

<head>
    <title>Страница администратора</title>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/images/js.js}" src="/static/js/js.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    <link rel="icon" th:href="@{/images/favicon.ico}"/>

</head>
<body>
<div th:replace="fragments::navibar">Navigation menu</div>
<div class="container">
    <h6>Это панель администратора</h6>

<a href="admin/createTour" class="btn btn-primary">Добавить тур</a>
<a href="admin/tourList" class="btn btn-primary">Управление турами</a>
</div>
</body>
</html>
