<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Страница администратора</title>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/js.js}" src="/static/js/js.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    <link rel="icon" th:href="@{/images/favicon.ico}"/>

</head>
<body>
<div th:replace="fragments::navibar">Navigation menu</div>
<div class="container mt-4">

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Отчество</th>
            <th scope="col">Почта</th>
            <th scope="col">Телефон</th>
            <th scope="col">ИД тура</th>
            <th scope="col">Название тура</th>
            <th scope="col">Цена</th>
            <th scope="col">Статус</th>
            <th scope="col">Управление</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="order:${orders}">
            <th scope="row" th:utext="${order.id}"></th>
            <td th:utext="${order.user.firstname}"></td>
            <td th:utext="${order.user.lastname}"></td>
            <td th:utext="${order.user.patronymic}"></td>
            <td th:utext="${order.user.email}"/></td>
            <td th:utext="${order.user.phone}"></td>
            <td th:utext="${order.tour.id}"></td>
            <td th:utext="${order.tour.title}"></td>
            <td th:utext="${order.discountPrice}"></td>
            <td th:utext="${order.status}"></td>

            <td class="d-flex">
                <select class="form-select mx-3" id="status" aria-label="Default select example">
                    <option value="unpaid">Не оплачен</option>
                    <option value=paid>Оплачен</option>
                    <option value="finished">Завершен</option>
                </select>
                <button th:onclick="'send(' + ${order.id} + ')'"  class="btn btn-success" type="submit">Save</button>
                <button  th:onclick="'remove(' + ${order.id} + ')'" class="btn mx-3 btn-danger delBtn" >Delete</button></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments::modalForChangeTour">Modal</div>
<div th:replace="fragments::modalBeforeDelete">Modal</div>


<script>
    const csrfValue = "[[${_csrf.token}]]";
    
    
    function send(id) {
        const status=document.getElementById("status");
        console.log(status.value);

        fetch('http://localhost:8080/order/changeStatus', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'X-CSRF-TOKEN':csrfValue,
            },
            body: JSON.stringify({id: id,status:status.value})
        });
    }
    function remove(id) {
        console.log(id);


        fetch('http://localhost:8080/order/remove/'+id, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'X-CSRF-TOKEN':csrfValue,
            },
        });
    }

</script>
</body>
</html>

