<!DOCTYPE html>

<head>
    <title>Корзина</title>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/images/js.js}" src="/static/images/js.js"></script>
    <script type="text/javascript" th:src="@{/images/tourDetails.js}" src="/static/images/tourDetails.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    <link rel="icon" th:href="@{/images/favicon.ico}"/>

</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Туристический сайт</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                    <span th:case="${false}">
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                         </li></span>
                    <span th:case="${true}">
                        <li class="nav-item">
                         <a class="nav-link" href="/logout">Logout</a>
                          </li>
                    </span>

                </div>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div><h2>Ваша корзина</h2><br>
    </div>
    <div class="row">
        <div class="col>">
            <div th:each="item, status:${cartItems}">
                <div class="row border rounded" th:with="tour=${item.tour}">
                    <div class="col">
                        <div>[[${status.count}]]</div>
                        <div>Удалить icon</div>
                    </div>
                    <div class="col">
                        <img th:scr="@{${tour.imagePath}}" class="img-fluid"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>

    </div>


</div>
</body>
</html>
