<!DOCTYPE html>

<head>
    <title>Корзина</title>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/js.js}" src="/static/js/js.js"></script>
    <script type="text/javascript" th:src="@{/js/tourDetails.js}" src="/static/js/tourDetails.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    <link rel="icon" th:href="@{/images/favicon.ico}"/>

</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Туристический сайт</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                    <span th:case="${false}">
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                         </li></span>
                    <span th:case="${true}">
                        <li class="nav-item">
                         <a class="nav-link" href="/logout">Logout</a>
                          </li>
                    </span>

                </div>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <div><h2>Ваша корзина</h2><br>
    </div>
    <div class="row mb-1">
        <div class="col-sm-8>">
            <th:block th:each="item, status:${cartItems}">
                <div class="row border rounded" th:with="tour=${item.tour}">
                    <div class="col-1">
                        <div>[[${status.count}]]</div>
                        <div><a class="bi bi-trash3-fill" aria-hidden="true"></a></div>
                    </div>
                    <div class="col-3">
                        <img th:src="@{${tour.imagePath}}" class="img-fluid" width="350" height="350"/>

                    </div>
                    <div class="col-6">
                        <b><a data-th-href="@{/{tourId}(tourId=${tour.id})}"
                              data-th-text="${tour.title}" target="_blank">
                        </a></b>
                        <div th:replace="quantity_control::quantity_control(${item.quantity},${item.tour.id})">Количество</div>
                        <div>
                            <span>x</span>
                            <span>[[${tour.price}]]</span>
                            <span>=</span><span class="h4">[Итого]</span>
                        </div>
                    </div>
                </div>
                <div class="row m-1">&nbsp;</div>
            </th:block>
        </div>
        <div>
            <div class="col-sm-4" th:unless="${#lists.isEmpty(cartItems)}">
                <div>
                    <span class="h3 ml-3">Итоговая стоимость</span>
                </div>
                <div class="mt-2 ml-3">
                    <span class="h2">[Total Amount]</span>
                </div>
                <div class="mt-2 ml-3">
                    <button class="btn btn-danger p-3 mt-2">Проверить</button>
                </div>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(cartItems)}">
            <h3>Ваша корзина пуста</h3>
        </div>
    </div>
</div>
</body>
</html>
