<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Информация о профиле</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
  <link rel="icon" th:href="@{/images/favicon.ico}"/>
</head>

<body>
<div th:replace="fragments::navibar">Navigation menu</div>
<div class="container text-center mt-4">
  <span><h1 class="info bg-secondary text-white">Информация о клиенте:</h1></span>
  <div class="bg-light text-dark"><section>Имя: <span data-th-text="${user.firstname}"/></section>
  <section>Фамилия: <span data-th-text="${user.lastname}"/></section>
  <section>Отчество: <span data-th-text="${user.patronymic}"/></section>
  <section>Электронная почта: <span data-th-text="${user.email}"/></section>
  <section>Мобильный телефон: <span data-th-text="${user.phone}"/></section>
  <section>Персональная скидка: <span th:if="${user.isGetBonus()}">1%</span>
    <span th:unless="${user.isGetBonus()}">0%</span></section></div>
</div>

</body>
</html>