<!DOCTYPE html>

<head>
    <title>Главная страница</title>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/images/js.js}" src="/static/images/js.js"></script>
    <script type="text/javascript" th:src="@{/images/tourDetails.js}" src="/static/images/tourDetails.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    <link rel="icon" th:href="@{/images/favicon.ico}"/>

</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Туристический сайт</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                    <span th:case="${false}">
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                         </li></span>
                    <span th:case="${true}">
                        <li class="nav-item">
                         <a class="nav-link" href="/logout">Logout</a>
                          </li>
                    </span>

                </div>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <button class="btn btn-success nBtn">New</button>
    <div class="card-deck">
        <div class="mt-4" th:each="tour, iter: ${tours}">
            <div class="card" style="width: 20rem">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a data-th-href="@{/{tourId}(tourId=${tour.id})}"
                                              data-th-text="${tour.title}"></a></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><span th:utext="${tour.startTime}"/> по
                        <span th:utext="${tour.endTime}"/></h6>

                    <a th:href="@{findOne/(id=${tour.id})}" class="btn btn-primary eBtn">Edit</a>
                    <a th:href="@{findOne/(id=${tour.id})}" class="btn btn-primary dBtn">Show</a>


                </div>
            </div>
        </div>
    </div>
</div>


<div class="myForm">
    <form th:action="@{/save}" method="post">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update tour or Create</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="id" class="col-form-label">ID:</label>
                            <input type="text" class="form-control" id="id" name="id" value=""/>
                        </div>

                        <div class="form-group">
                            <label for="title" class="col-form-label">Title:</label>
                            <input type="text" class="form-control" id="title" name="title" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-form-label">description:</label>
                            <input type="text" class="form-control" id="description" name="description" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="startTime" class="col-form-label">startTime:</label>
                            <input type="text" class="form-control" id="startTime" name="startTime" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="endTime" class="col-form-label">endTime:</label>
                            <input type="text" class="form-control" id="endTime" name="endTime" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="price" class="col-form-label">price:</label>
                            <input type="text" class="form-control" id="price" name="price" value=""/>
                        </div>

                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Save or Create"/>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
<div class="myForm2">
    <form th:action="@{/save}" method="post">
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel2"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">Update tour or Create v2</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="id2" class="col-form-label">ID:</label>
                            <input type="text" class="form-control" id="id2" name="id2" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="title2" class="col-form-label">Title:</label>
                            <input type="text" class="form-control" id="title2" name="title2" value=""/>
                        </div>

                        <div class="form-group">
                            <label for="description2" class="col-form-label">description:</label>
                            <input type="text" class="form-control" id="description2" name="description2" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="startTime2" class="col-form-label">startTime:</label>
                            <input type="text" class="form-control" id="startTime2" name="startTime2" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="endTime2" class="col-form-label">endTime:</label>
                            <input type="text" class="form-control" id="endTime2" name="endTime2" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="price2" class="col-form-label">price:</label>
                            <input type="text" class="form-control" id="price2" name="price2" value=""/>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Save or Create"/>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

</body>
</html>
