<!DOCTYPE html>

<head>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/add_to_cart.js}"></script>
    <script type="text/javascript" th:src="@{/js/quantity_control.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    <link rel="icon" th:href="@{/images/favicon.ico}"/>
    <meta charset="UTF-8"/>
    <meta name="product-id" data-th-content="${product.id}"/>
    <title>[[${product.title}]] &#8211; Туристический сайт</title>
    <csrf disabled="true"/>

</head>
<body>
<div th:replace="fragments::navibar">Navigation menu</div>
<div class="w3-clear nextprev">
    <a class="btn btn-outline-primary" href="/" role="button"><-Назад</a>
</div>
<div class="container">

    <img th:src="@{${product.imagePath}}" alt="Card image cap" width="320" height="200"/>


    <h1 data-th-text="${product.title}"></h1>
    <section>Дата: <span id="startTime" data-th-text="${product.startTime}"/> по
        <span id="endTime" data-th-text="${product.endTime}"/></section>
    <section>Описание: <span id="description" data-th-text="${product.description}"></span></p></section>
    <section>Цена: <span id="price" data-th-text="${product.price}"></span></section>
    Количество человек:
    <div th:replace="fragments::quantity_control(1,${product.id})">Количество</div>

    <button class="btn btn-danger" id="buttonAddToCart">Добавить в корзину</button>

</div>

<div th:replace="fragments::succes_modal">Modal</div>
<script type="text/javascript">
    contextPath = "[[@{/}]]";
    var csrfHeaderName = "[[${_csrf.parameterName}]]";
    var csrfValue = "[[${_csrf.token}]]";
    var tourId = "[[${product.id}]]";
</script>
</body>
</html>